.container {
    display: flow-root;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1.5em;
}

.wraper > img {
    width: 100%;
}

.actions-bar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3em;
    color: #2699FB;
    font-size: 1em;
    line-height: 2.2em;
    padding: 0 1em;
    margin-top: 1em;
    font-weight: bold;
}

.navbar-item {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 2em;
}

.navbar-ul {
    list-style: none;
    margin-top: 1em;
}

.row-main {
    height: 100%;
}

.sidebar {
    background-color: #217ECC;
}

.sidebar-ul {
    list-style: none;
    margin-top: 1.5em;
}

.sidebar-li {
    margin-top: 1.3em;
}

.sidebar-li a {
    color: white;
    text-transform: uppercase;
}

.bottom-sm {
    background-color: #217ECC;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
}

.bottom-sm i {
    margin: 0em 1em;
    color: #FFFFFF;
}

h2 {
    padding: 3em 0em 1em 1em;
}


@media screen and (max-width: 992px) {
    .board {
        grid-template-columns: 1fr;
    }
}