body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background-color: white;
}

.loginMess {
    font-size: 3em;
    margin-bottom: 8rem;
}

.navbar {
    background-color: #3594F7;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #F1F8FE 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 0.6em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

form > select {
    padding: 0.5em;
    margin: 0 1em 1em 1em;
    background: #F1F8FE 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 0.6em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

form > input:focus {
    border: none;
}

#passwordRequirements {
    display: none;
}

button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #3594F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    line-height: 2.5em;
    font-size: 1em;
}

.messages {
    color: black;
    text-align: center;
    margin-bottom: 0.4em;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 18px;
    }

    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}