.changeRole-btn {
    width: 70%;
    line-height: 2.5em;
}


form {
    display: inherit;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #F1F8FE 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 0.6em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}